<form class='mon_formulaire' action="/ajouter" name='mon_formulaire' id='mon_formulaire' method="POST" >
<input type = "hidden" id='_id' placeholder="id" name = "_id" value=''> 
<input type = "text" id='nom' placeholder="<%= __('Nom') %>" name = "nom"> 
<input type = "text" id='prenom' placeholder="<%= __('Prénom') %>" name = "prenom">
<input type = "text" id="telephone" placeholder="<%= __('Téléphone') %>" name = "telephone">
<input type = "text" id='courriel' placeholder="<%= __('Courriel') %>" name = "courriel">
 <input type="submit" value="<%= __('Ajouter') %>">
</form>