 <%- include('composants/head') %> 
<body>
 <%- include('composants/entete') %>
 <h1><%= __('Accueil') %></h1>
 <p><%= __("Bienvenue à l'atelier Node.js") %></p>
 <%- include('composants/footer') %>
</body>
</html>